.pills-design {
    color: #555455;
    border-radius: 12px;
    font-weight: 500;
}

.pills-design.active {
    background-color: #000f9f !important;
    color: #fff !important;
    border-radius: 12px;
    font-weight: 600;
}

.show-button {
    font-size: 12px;
    color: #000f9f;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #c7c7c770;
    background-color: #dfe1f3;
    padding: 12px;
}

.tour-card {
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: rgb(110, 107, 123);
}

.card-content-tour {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tour-title {
    font-weight: 700;
}

.passengers {
    font-weight: 700;
    margin: 12px 0;
    color: #424242;
}

.label-tour {
    font-size: 12px;
    font-weight: 600;
}

.value-tour {}

.fc-direction-ltr {
    height: 100vh;
}

.fc-prev-button,
.fc-next-button {
    background-color: transparent !important;
    color: #6e6b7b !important;
    border: none !important;
}

.fc-prev-button:focus,
.fc-next-button:focus {
    border: none !important;
}

.fc-button {
    background-color: transparent !important;
    border-color: #7367f0 !important;
    color: #7367f0 !important;
}

.fc-button-active {
    background-color: rgba(115, 103, 240, 0.2) !important;
    border-color: #7367f0 !important;
    color: #7367f0;
}

.fc .fc-toolbar-title {
    font-size: 20px;
    margin: 0px;
    font-weight: 600;
    color: #000f9f;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    text-decoration: none;
    color: #3B71FE;
}

