.pills-design {
    color: #555455;
    border-radius: 12px;
    font-weight: 500;
}

.pills-design.active {
    background-color: #000f9f !important;
    color: #fff !important;
    border-radius: 12px;
    font-weight: 600;
}

.show-button {
    font-size: 12px;
    color: #000f9f;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #c7c7c770;
    background-color: #dfe1f3;
    padding: 12px;
}

.tour-card {
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: rgb(110, 107, 123);
}

.card-content-tour {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tour-title {
    font-weight: 700;
}

.passengers {
    font-weight: 700;
    margin: 12px 0;
    color: #424242;
}

.label-tour {
    font-size: 12px;
    font-weight: 600;
}

.value-tour {
}