:root {
  --primary: #3B71FE;
}

html,
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  margin: auto;
  scrollbar-color: #c0c0c0 white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative
}

/* Navbar styles */
@media (min-width: 992px) {
  #navbarNav {
    display: none !important;
  }
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.mean-nav {
  background:
    none;
  border-top:
    1px solid #dfe2e9;
  padding-top: 20px;
  margin-top: 40px;
}

.mean-nav ul li a {
  width: 100%;
  padding:
    10px 0;
  color: #5e6f92;
  border:
    none !important;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1.5;
  font-weight: 700;
}

.lg-nav-style li a {
  width: 100%;
  color: #5e6f92;
  border:
    none !important;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 700;
}

.offcanvas-custom {
  width: 80vw !important; 
  max-width: 300px; 
  border-right: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease-in-out;
}
.offcanvas-backdrop.show {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px); 
}

/* Index styles */

.container-main {
  padding: 56px 24px;
  background: #012664;
  /* background: linear-gradient(150deg, rgba(1, 38, 100, 1) 0%, rgba(1, 38, 100, 1) 23%, rgba(1, 38, 100, 1) 43%, rgba(123, 123, 93, 1) 100%, rgba(253, 215, 86, 1) 100%); */
}
.container-main span {
  color: #fff;
  font-size: 12px;
  line-height: normal;
}
.container-section {
  padding: 24px;
}
.title {
  font-size: 16px;
  line-height: 42px;
  font-weight: 700;
  margin-bottom: 6px;
  text-decoration: none;
  transition: all 0.4s ease;
  position: relative;
  line-height: normal;
}

.description-title {
  font-size: 14px;
  font-weight: 700;
}

.table-style {
  margin: 24px 0;
}

.table-style thead {
  background-color: #e5e5e5;
}

.table-style tbody {
  background-color: #fafafa;
  font-size: 12px;
}

.table-style th {
  padding: 8px;
  font-size: 14px;
}

.table-style td {
  padding: 12px 0;
}

.button-styled {
  background-color: #000f9f;
  color: #ffffff;
  padding:
    8px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 10px;
  border-radius:
    8px;
  border: none;
}

.button-styled:hover {
  color: #ffffff;
  background-color: #012664;
}

.line-styled {
  height: 30px;
  width: 1px;
  border:
    none;
  border-left-width: medium;
  border-left-style: none;
  border-left-color: currentcolor;
  border-left:
    1px solid hsla(200, 10%, 50%, 100);
  margin:
    0 0 0 8px;
}

.form-style {
  padding:
    32px 44px;
  box-shadow: 0 8px 16px rgba(176, 176, 176, 0.2);
  border:
    1px solid #e7e7e7ee;
}

.form-control {
  display: block;
  width: 100%;
  padding:
.375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border:
1px solid #ced4da;
  appearance: none;
  height: 55px;
}

.form-btn-styled {
  background-color: #000f9f;
  color: #ffffff;
  padding: 14px 38px;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 55px;
  border: none;
  border-radius: 6px;
  width: 100%;
}

.search-input {
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding-left: 12px;
  font-size: 12px;
}

.search-input:focus, .search-input:active {
  font-family: "Plus Jakarta Sans", sans-serif;
  outline: none;
  padding-left: 12px;
  font-weight: 400;
  font-size: 12px;
}

.products-filter-count {
  font-size: 12px;
  color: #1f1f1f;
}

.button-filter-styled {
  border-radius: 8px;
  border: none;
  background-color: #000f9f;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
}

/* Product Card styles  */

.card-style {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  margin: 16px 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  height: 100px;
  width: 100%;
}

.card-style .product-title {
  font-size: 14px !important;
  font-weight: 700;
  color: rgb(33, 33, 33) !important;
  overflow:
    hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient:
    vertical;
    line-height: normal;
}

.card-style .product-location {
  font-size: 12px;
  color: rgb(94, 111, 146);
  font-weight: 600;
  line-height: normal;
}

.card-style .price-label {
  font-size: 12px;
}

.container-products {
  height: 100%;
  width: 100%;
}

.card-image {
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.container-products .price {
  font-size: 14px;
  font-weight: 600;
}

.container-products .price-label {
  font-size: 12px;
  font-weight: 500;
}

/* CATEGORIE COMPONENT */

.cat-container {
  border-radius: 8px;
  background-color: #ccc;
  color: #1f1f1f;
  height: 120px;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-container-a {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 1px 4px 10px #c3c3c395;
}

.cat-container:active, .cat-container:hover {
  background-color: var(--primary);
  color: #fff;
}

/* DIALOG STYLED */

.dialog-title {
  font-size: 14px;
  font-weight: 500;
}

/* STEPS WIZARD  */

.step-dot {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  cursor: default;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.step-dot.active {
  background-color: #3B71FE;
  color: #ccc;
  font-weight: 700;
}
.step-dot.clickable {
  cursor: pointer;
}
.step-line {
  width: 30px;
  height: 2px;
  background-color: #ccc;
  margin: 0 10px;
}

/* BOOKING STYLE */

.booking-title {
  font-size: 22px;
  font-weight: 700;
}

.booking-subtitle {
  font-size: 12px;
  color: rgb(110, 107, 123);
  line-height: normal;
}

.booking-text-product {
  font-size: 16px;
  font-weight: 600;
}

.booking-text-cat {
  font-size: 14px;
  color: rgb(94, 111, 146);
  font-weight: 500;
}

.booking-button {
  background-color: #000f9f;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  border: none;
  margin-top: 16px;
  font-weight: 600;
}

.booking-button-cancel {
  background-color: #dfe1f3;
  color: #000f9f;
  padding: 8px;
  border-radius: 8px;
  border: none;
  margin-top: 16px;
  font-weight: 600;
}

.booking-steps-container {
  background-color: rgb(230, 237, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.booking-steps-content {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.booking-steps-content h3 {
  font-size: 16px; 
  font-weight: 600;
  color: rgb(90, 88, 101);
  margin-bottom: 16px;
}

.form-label-styled {
  font-size: 14px;
}

.form-input-styled {
  width: 100%;
  height: 40px;
  padding-left: 8px;
  font-size: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 4px;
  outline: none;
}

.form-input-styled:active, .form-input-styled:focus {
  border: 1px solid #000f9f;
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2px;
  column-gap: 12px;
}

.grid-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rate-price {
  font-weight: 700;
  font-size: 18px;
}