:root {
  --primary: #3B71FE;
}

html,
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  margin: auto;
  scrollbar-color: #c0c0c0 white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative
}

/* Navbar styles */

.names-title {
  display: flex;
  flex-direction: column;
  padding: 32px 24px 18px 24px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.names-title .title {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.names-title .rol {
  font-size: 14px;
}

.nav-design {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.nav-item-design {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px !important;;
  color: #1f1f1f;
}

.nav-item-design-drop {
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px !important;;
  color: #1f1f1f;
}

.p-left {
  padding-left: 16px !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.nav-item-design a, .nav-item-design span {
  color: #1f1f1f;
}

.span-nav {
  font-size: 16px;
  font-weight: 600;
  color: #1f1f1f;
}

.nav-item-design:hover {
  background-color: #e6edff;
  border-radius: 8px;
  color: #000f9f;
}

.nav-item-design:hover a, .nav-item-design:hover  span{
  color: #000f9f;
}

.navdrop-desing {
  border: none !important;
}

@media (min-width: 992px) {
  #navbarNav {
    display: none !important;
  }
}

.select-height {
  height: 45px !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.mean-nav {
  background:
    none;
  border-top:
    1px solid #dfe2e9;
  padding-top: 20px;
  margin-top: 40px;
}

.mean-nav ul li a {
  width: 100%;
  padding:
    10px 0;
  color: #5e6f92;
  border:
    none !important;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1.5;
  font-weight: 700;
}

.lg-nav-style li a {
  width: 100%;
  color: #5e6f92;
  border:
    none !important;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 700;
}

.offcanvas-custom {
  width: 80vw !important;
  max-width: 300px;
  border-right: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.offcanvas-backdrop.show {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

/* Index styles */

.container-main {
  padding: 32px 24px 16px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-main h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.container-main span {
  font-size: 14px;
  line-height: normal;
  /* text-align: center; */
  color: #5E5873;
  font-weight: 500;
}

.container-section {
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
}

.container-section h3 {
  font-weight: 600;
}

.all-services {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  color: #b3b3b3;
}

.title {
  font-size: 26px;
  line-height: 42px;
  font-weight: 800;
  padding: 12px 0 8px 0;
  text-decoration: none;
  transition: all 0.4s ease;
  position: relative;
  line-height: normal;
  color: #1f1f1f;
}

.description-title {
  font-size: 16px;
  font-weight: 700;
}

.table-style {
  margin: 24px 0;
}

.table-style thead {
  background-color: #e5e5e5;
}

.table-style tbody {
  background-color: #fafafa;
  font-size: 12px;
}

.table-style th {
  padding: 8px;
  font-size: 14px;
}

.table-style td {
  padding: 12px 0;
}

.button-styled {
  background-color: #000f9f;
  color: #ffffff;
  padding:
    8px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 10px;
  border-radius:
    8px;
  border: none;
}

.button-styled:hover {
  color: #ffffff;
  background-color: #012664;
}

.line-styled {
  height: 30px;
  width: 1px;
  border:
    none;
  border-left-width: medium;
  border-left-style: none;
  border-left-color: currentcolor;
  border-left:
    1px solid hsla(200, 10%, 50%, 100);
  margin:
    0 0 0 8px;
}

.form-style {
  padding:
    32px 44px;
  box-shadow: 0 8px 16px rgba(176, 176, 176, 0.2);
  border:
    1px solid #e7e7e7ee;
}

.form-control {
  display: block;
  width: 100%;
  padding:
    .375rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border:
    1px solid #ced4da;
  appearance: none;
  height: 55px;
}

.form-btn-styled {
  background-color: #000f9f;
  color: #ffffff;
  padding: 14px 38px;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 55px;
  border: none;
  border-radius: 6px;
  width: 100%;
}

.search-input {
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 45px;
  border-radius: 8px;
  border: 1px solid #c7c7c770;
  background-color: #fff;
  padding-left: 12px;
  font-size: 14px;
  width: 100%;
}

.search-input:focus,
.search-input:active {
  font-family: "Plus Jakarta Sans", sans-serif;
  outline: none;
  padding-left: 12px;
  font-weight: 400;
  font-size: 14px;
}

.products-filter-count {
  font-size: 14px;
  color: #1f1f1f;
}

.button-filter-styled {
  border-radius: 8px;
  border: none;
  background-color: #000f9f;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

/* Product Card styles  */

.card-style {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  margin: 24px 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  height: 100px;
  width: 100%;
}

.card-style .product-title {
  font-size: 14px !important;
  font-weight: 700;
  color: rgb(33, 33, 33) !important;
  overflow:
    hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient:
    vertical;
  line-height: normal;
}

.card-style .product-location {
  font-size: 12px;
  color: rgb(94, 111, 146);
  font-weight: 600;
  line-height: normal;
}

.card-style .price-label {
  font-size: 12px;
}

.container-products {
  height: 100%;
  width: 100%;
}

.card-image {
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.container-products .price {
  font-size: 14px;
  font-weight: 600;
}

.container-products .price-label {
  font-size: 12px;
  font-weight: 500;
}

/* CATEGORIE COMPONENT */

.container-styled {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.cat-container {
  border-radius: 8px;
  background-color: #3B71FE;
  margin: 8px 0;
  color: #fff;
  font-weight: 600;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 7px #c3c3c3;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.cat-container-a {
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
}

.cat-container:active,
.cat-container:hover {
  background-color: #6c94fe;
}

/* DIALOG STYLED */

.dialog-title {
  font-size: 16px;
  font-weight: 500;
}

/* STEPS WIZARD  */

.step-dot-container {
  margin: 0 24px;
}

.step-dot {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #e6edff;
  cursor: default;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
  color: #000f9f;
}

.step-dot.active {
  background-color: #3B71FE;
  color: #fff;
  font-weight: 800;
  font-size: 18px;
}

.step-dot.clickable {
  cursor: pointer;
}

.step-dot.completed {
  background-color: #000f9f;
  color: #fff;
}

.step-label {
  font-size: 14px;
  font-weight: 700;
  color: #3B71FE;
  text-align: center;
  max-width: 80px;
}

.step-line-horizontal {
  width: 40px;
  height: 1px;
  background-color: #b5caff;
  align-self: center;
}

/* BOOKING STYLE */

.booking-title {
  font-size: 24px;
  font-weight: 700;
}

.booking-subtitle {
  font-size: 12px;
  color: rgb(110, 107, 123);
  line-height: normal;
}

.booking-text-product {
  font-size: 18px;
  font-weight: 600;
}

.booking-text-cat {
  font-size: 18px;
  color: rgb(94, 111, 146);
  font-weight: 500;
}

.booking-button {
  background-color: #000f9f;
  color: #fff;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin-top: 16px;
  font-weight: 600;
  font-size: 17px;
}

.booking-button-dialog {
  background-color: #000f9f;
  color: #fff;
  height: 45px;
  border-radius: 8px;
  border: none;
  margin-top: 16px;
  font-weight: 600;
  font-size: 15px;
}

.booking-button-cancel {
  background-color: #dfe1f3;
  color: #000f9f;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin-top: 16px;
  font-weight: 600;
  font-size: 17px;
}

.booking-button-cancel-dialog {
  background-color: #dfe1f3;
  color: #000f9f;
  height: 45px;
  border-radius: 8px;
  border: none;
  margin-top: 16px;
  font-weight: 600;
  font-size: 15px;
}

.booking-steps-container {
  background-color: rgb(230, 237, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.booking-steps-content {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.booking-steps-content h3 {
  font-size: 22px;
  font-weight: 700;
  color: rgb(90, 88, 101);
  margin-bottom: 16px;
}

.form-label-styled {
  font-size: 16px;
  font-weight: 400;
  overflow:
    hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient:
    vertical;
  line-height: normal;
}

.form-input-styled {
  width: 100%;
  height: 45px;
  padding: 0 12px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 8px;
  outline: none;
}

.form-input-styled:active,
.form-input-styled:focus {
  border: 1px solid #000f9f;
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2px;
  column-gap: 12px;
}

.grid-form-dialog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2px;
  column-gap: 12px;
  border-top: 1px solid #dee2e680;
}

.grid-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rate-price {
  font-weight: 700;
  font-size: 22px;
}

.nav-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 56px;
}

.log-out-button {
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  height: 80px;
  padding: 8px 20px !important;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #1f1f1f;
}

.log-out-button:hover {
  color: #000f9f;
  background-color: #e6edff;
}

.empty-state-container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOADING */
.loader-container {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* SALES PAGE */

.sale-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 24px 0;
}

.sale-style {
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.sale-data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sale-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.code {
  font-size: 18px;
  font-weight: 600;
  color: #5E5873;
}

.date {
  font-weight: 500;
  color: #5E5873;
}

.sale-title .link {
  text-decoration: none;
  font-weight: 700;
  color: #000f9f;
}

.status {
  background-color: #fef9ea;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #d2a106;
  text-align: center;
}

.status-confirmed {
  background-color: #e4f3e8 !important;
  color: #24A148 !important;
}

.status-cancelled {
  background-color: #fae3e4 !important;
  color: #da1e28 !important;
}

.status-pending {
  background-color: #fff0e4;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #ff832b;
  text-align: center;
}

.copy-btn {
  background-color: #eeeeeeab;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 55px;
  border-radius: 6px;
  color: #1f1f1f;
  font-size: 16px;
  box-shadow: 0px 8px 12px -3px rgba(0, 0, 0, 0.1);
}

.download-btn {
  background-color: #e6edff;
  border: none;
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #000f9f;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0px 8px 10px -4px rgba(107, 107, 107, 0.1);
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container .pagination-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000f9f;
  border: none;
  color: #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 24px;
  box-shadow: 0px 8px 12px -3px rgba(0, 0, 0, 0.1);
}

.pagination-container .pagination-btn:disabled {
  background-color: #eeeeeeab;
  color: #1f1f1f50;
}

.pagination-container .pagination-text {
  font-size: 15px;
  font-weight: 600;
  color: #1f1f1f;
}

/* AGENCY PAGE */

.agency-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.agency-container span {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #747474;
}

.agency-container h6 {
  font-size: 18px;
}

.agency-name {
  font-size: 16px;
  font-weight: 600;
  color: #1f1f1f;
}

/* select {
  width: 50px;
 
}
option {
width: 50px;
white-space:pre-wrap;
word-wrap: break-word;
} */

/* TOP PRODUCTS */

.collapse-container {
  border: 1px solid #eee;
  box-shadow: 1px 2px 7px #c3c3c360;
  border-radius: 8px;
  background-color: #fff;
}

.collapse-content {
  background-color: #f8f8f8;
}

.collapse-line {
  border-bottom: 1px solid #eee;
}

.collapse-title {
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
}

.collapse-button {
  padding: 0 12px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-button {
  border: none;
  background: #000f9f;
  font-size: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
}