html,
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  margin: auto;
  scrollbar-color: #c0c0c0 white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative
}

/* Navbar styles */
@media (min-width: 992px) {
  #navbarNav {
    display: none !important;
  }
}
.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.mean-nav {
  background:
    none;
  border-top:
    1px solid #dfe2e9;
  padding-top: 20px;
  margin-top: 40px;
}

.mean-nav ul li a {
  width: 100%;
  padding:
10px 0;
  color: #5e6f92;
  border:
none !important;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1.5;
  font-weight: 700;
}

.lg-nav-style li a {
  width: 100%;
  color: #5e6f92;
  border:
none !important;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 700;
}

/* Index styles */

.principal-title {
  font-size: 26px;
  line-height: 42px;
  margin-top: 5px;
  font-weight: 700;
  margin-bottom: 0;
  color: #041126;
  text-decoration: none;
  transition: all 0.4s ease;
  position: relative;
}

/* Product Card styles  */

.card-style {
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 12px;
  margin-top: 32px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  border-radius: 8px;
}

.card-style span {
  font-size: 16px;
  font-weight: 600;
}

.card-style p {
  font-size: 14px;
  overflow:
hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient:
vertical;
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}